# Byte-compiled / cache
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/

# Database
db.sqlite3
MeuProjeto/MeuSite/db.sqlite3

# Media files
media/

# IDE/editor
.vscode/

# Mac / Thumbs
.DS_Store
