# ============================
# Requisitos do projeto StudyGram
# ============================

# Núcleo Django
Django==5.1.2
asgiref==3.8.1
sqlparse==0.5.1
tzdata==2024.1

# API REST (para integração futura com apps ou SPA)
djangorestframework==3.15.2

# Upload e manipulação de imagens
Pillow==10.4.0

# Controle de variáveis de ambiente (.env)
python-dotenv==1.0.1

# Servir arquivos estáticos em produção
whitenoise==6.6.0

# Banco de dados SQLite ou PostgreSQL
psycopg2-binary==2.9.9  # apenas se usar PostgreSQL

# CORS (acesso de diferentes domínios, útil para front-end separado)
django-cors-headers==4.4.0

