{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Lista de Resumos (StudyGram)</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Lista de Resumos (Consulta)</h1>
    <table>
        <tr><th>Título</th><th>Conteúdo</th><th>Data de Criação</th></tr>
        {% for pessoa in pessoas %}
            <tr>
                <td>{{ pessoa.titulo }}</td>
                <td>{{pessoa.conteudo|truncatechars:100 }}</td>
                <td>{{ pessoa.data_criacao|date:"d/m/Y" }}</td>
             </tr>
        {% empty %}
            <tr><th colspan="3">Ainda não tem resumos cadastrados</th></tr>
        {% endfor %}
    </table>

    <p><a href="{% url 'meu_site:buscar-resumo' %}">Fazer Nova Busca</a></p>
</body>
</html>